<nav class="navbar">
  <div class="container">
    <div class="ui-i-12">
      <a href="javascript:;" class="nav-toggle" (click)="showMenu = !showMenu">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!showMenu">
    <li class="navbar-user">{{auth.jwtPayLoad?.nome}}</li>
    <li class="navbar-menuitem"
      *ngIf="auth.hasPermition('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/lancamento" routerLinkActive="ativo">Lancamentos</a></li>
    <li class="navbar-menuitem"
      *ngIf="auth.hasPermition('ROLE_PESQUISAR_PESSOA')">
      <a routerLink="/pessoa" routerLinkActive="ativo">Pessoas</a></li>
    <li class="navbar-menuitem">
      <a href="#" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
