<div class="container">
  <form #f="ngForm" name="f" >

    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
          
        <div class="ui-g-12">
            <h1>Login</h1>
        </div>

        <div class="ui-g-12">
          <label for="email">Email</label>
          <input pInputText type="email" name="user" placeholder="E-mail"
            ngModel #user required>
        </div>

        <div class="ui-g-12">
          <label for="password">Senha</label>
          <input pInputText type="password" name="password" placeholder="Senha"
            ngModel #password required>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Login" [disabled]="!f.valid"
          (click)="login(user.value, password.value)"></button>
        </div>
      </div>
    </div>

  </form>
</div>
